asgiref==3.11.0
asttokens==3.0.0
DateTime==5.5
decorator==5.2.1
Django==6.0
django-cors-headers==4.8.0
django-filter==25.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-nested-routers==0.94.2
executing==2.2.0
ipython==9.5.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.1.7
parso==0.8.5
pexpect==4.9.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
PyJWT==2.10.1
pytz==2025.2
ruff==0.12.11
setuptools==80.9.0
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.14.3
wcwidth==0.2.13
zope.interface==8.0
